<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpg" />
		<link rel="icon" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>EasyCare</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

	:global(html),
	:global(body) {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Poppins", sans-serif;
	}

	:global(*) {
		font-family: "Poppins", sans-serif !important;
	}
</style>
